<form action="/profile" method="post" enctype="multipart/form-data">
  <div>
    <label for="imgName">Name</label>
    <input type="text" name="imgName" />
  </div>
  <div>
    <label for="fileName">File</label>
    <input type="file" name="fileName" />
  </div>
  <button type="submit">SUBMIT</button>
</form>
