<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/upload" enctype="multipart/form-data">
      <div>
        <label for="imageName">Name</label>
        <input type="text" name="imageName" />
      </div>
      <div>
        <label for="uimage">File</label>
        <input type="file" name="uimage" />
      </div>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
